.admin_panel_back {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_add_student {
    width: 200px;
    margin-top: 5px;
}

.btn_add_block {
    width: 200px;
    margin-top: 5px;
}

.btn_add_group {
    width: 200px;
    margin-top: 5px;
}

.btn_refresh_table {
    color: red;
    width: 200px;
    margin-top: 5px;
}

.btn_logout {
    width: 200px;
    margin-top: 5px;
}
